{{#partial "content"}}
<div class="page-header">
  <h1>Welcome to EventLite</h1>

  <p>This is EventLite. See the <a href="/events">list of events</a> for more information.</p>
</div>

{{/partial}}

{{> layouts/base title="EventLite events"}}
